* {
    box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
    font-size: 0;
    float: left;
    height: 500px; /* Should be removed. Only for demonstration */
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0px;
}

.totalbutton {
    display: flex;
    font-size: 0;
    float: left;
    margin: 0px;
    width:100%;
}

.left {
    width: 25%;
}

.right {
    overflow-y: hidden;
    width: 75%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.menubar{
    position: relative;
    height:27px;
    width:100%;
    background-color: #dcd67d;
}

.namebox{
    margin-left: 30px;
    margin-top: 5px;
    background-color: white;
    float: left;
    width: 30%;
    height: 70%;
}

.note {
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: 1px;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    outline: none;
}
.canvas {

    width: 700px;
    height: 500px;
    overflow: hidden;
}

.inline {
    display:inline-block;
    margin-right:0px;
}

.button{
    border: none;
    background: white;
    width: 90%;
    height: 100px;
    margin: 0px;
}
.deletebut{
    border: none;
    background: white;
    width: 10%;
    height: 100px;
    margin: 0px;
}

.deletebutton{
    margin-right: 30px;
    margin-top: 5px;
    background-color: white;
    float: right;
    left: 50px;
    width: 5%;
    height: 70%;
}
html, body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}