html, body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
}


/* Create two unequal columns that floats next to each other */
.column {
    font-size: 0;
    float: left;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0px;
}

.left {
    text-align: center;
    width: 25%;
}

.right {
    overflow-y: hidden;
    width: 75%;
}

/* clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* buttons */

.button{
    background: white;
    width: 100%;
    height: 70px;
    margin: 0px;
    border: none;
    outline: 1px solid #d0d0d0;
}

.button:hover{
    cursor: pointer;
    border-left: 5px solid #d0d0d0;
}


.deletebutton{
    background-color: white;
    border-radius: 50%;
    border: none;
    float: right;
    width: 30px;
    margin-top: 3px;
    height: 90%;
}
.deletebutton:hover{
    cursor: pointer;
}

.addbutton{
    text-align: center;
    line-height: 19px;
    background-color: #ffffff;
    border-radius: 10px;
    width: 120px;
    border: 1px solid #d0d1de;
    margin: 4px;
    height: 22px;
}

.addbutton:hover{
    cursor: pointer;
}

.addbuttonicon{
    float: left;
}

/* menu */

.menubar{
    position: relative;
    top:0;
    height:30px;
    background-color: #ffffff;
    border-bottom: 1px solid #d0d1de;
}

.leftmenu{
    position: sticky;
    top:0;
    height:30px;
    background-color: #ffffff;
    border-bottom: 1px solid #d0d1de;
}

.namebox{
    color: grey;
    margin-left: 30px;
    margin-top: 5px;
    background-color: white;
    float: left;
    width: 30%;
    height: 70%;
    font-size: 16px;
    outline: 1px solid #e2e2ef;
    overflow: hidden;
    border-radius: 8px;
    padding-left: 5px;
    padding-bottom: 2px;
}

.namebox:focus{
    outline: 2px solid black;
}

.note {
    position: fixed;
    height: 470px;
    width: 525px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    font: 16px "Consolas", sans-serif;
    background-color: white;
    outline: none;
}
.canvas {
    width: 700px;
    height: 500px;
    overflow: hidden;
}

.inline {
    display:inline-block;
    margin-right:0px;
}
