* {
    box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
    font-size: 0;
    float: left;
    height: 300px; /* Should be removed. Only for demonstration */
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0px;
}

.totalbutton {
    display: flex;
    font-size: 0;
    float: left;
    margin: 0px;
    width:100%;
}

.left {
    width: 25%;
}

.right {
    overflow-y: hidden;
    width: 75%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.note {
    height: 200px;
    width: 300px;
    overflow: auto;
    margin: 1px;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    border: 2px solid black;
}
.canvas {
    width: 500px;
    height: 300px;
    overflow: hidden;
}

.inline {
    display:inline-block;
    margin-right:0px;
}

.button{
    border: none;
    background: white;
    width: 90%;
    height: 100px;
    margin: 0px;
}
.deletebut{
    border: none;
    background: white;
    width: 10%;
    height: 100px;
    margin: 0px;
}
html, body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}